._dash-loading {
  text-align: center;
  margin-top: 50px;
}
._dash-undo-redo {
  display: none;
}
.tab-item > label:hover {
    cursor: pointer;
}

.tab-content {
    display: none;
}

.tab-locator:nth-of-type(1):checked ~ .tab-block > .tab-item:nth-of-type(1) > label > a,
.tab-locator:nth-of-type(2):checked ~ .tab-block > .tab-item:nth-of-type(2) > label > a,
.tab-locator:nth-of-type(3):checked ~ .tab-block > .tab-item:nth-of-type(3) > label > a {
    border-bottom-color: #5764c6;
    color: #5764c6;
}

.tab-locator:nth-of-type(1):checked ~ .tabs > .tab-content:nth-of-type(1),
.tab-locator:nth-of-type(2):checked ~ .tabs > .tab-content:nth-of-type(2),
.tab-locator:nth-of-type(3):checked ~ .tabs > .tab-content:nth-of-type(3) {
    display:block;
}

.bold{
    font-weight: bold;
}
a, a:hover, a:visited {
  text-decoration: none; /* no underline */
}
.center{
  text-align:center;
}
#stock_graph{
  margin-top: 5px;
}

html{
  font-family: 'Source Sans Pro', sans-serif;
}
.content {
  min-height: calc(100vh - 135px);
}
.footer {
  height: 115px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.navbar-basic {
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #868E96;
  color: black;
}
.table-th {
  width: 25%;
}
.pt15 {
  padding-top: 10px!important
}
nav{
  background-color:inherit;
  box-shadow: none;
  border-bottom: 2px;
}
.stock-checkbox{
  margin-top: 10px;
  height: 22.5px;
  line-height: 22.5px;
  font-size: 11.25px;
  width:91px;
}

.stock-checkbox:nth-child(1) {
  background-color: #244ac4;
}
.stock-checkbox:nth-child(2) {
  background-color: #00B287;
}

.stock-checkbox:nth-child(3) {
  background-color: #FF4A3B;
}

.stock-checkbox:nth-child(4) {
  background-color: #153F5F;
}
.indent{
  text-indent:5%;
}
.top-margin25{
  margin-top: 25px;
}
@media only screen and (min-width: 1201px) {
  .financials-graph {
    margin-top: 2em;
  }
}
.margin-bot0{
  margin-bottom: 0;
}
.logo-svg{
  display: block;
  text-indent: -9999px;
  width: 225px;
  height: 65px;
  background: url(logo.svg);
  background-size: 225px 65px;
}
.logolarge-svg{
  display: block;
  text-indent: -9999px;
  width: 325px;
  height: 115px;
  background: url(logo-large.svg);
  background-size: 325px 115px;
}

.searchbar{
  height: 50px;
  width: 500px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #244ac4;
  font-weight: bold;
  font-size: initial;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #0096C6;
}
.card .card-title {
  font-weight: 450;
}
/*My color palette */
/*BLUE*/
.myblue{
  background-color: #244ac4;
}
.my-blue{
  color: #244ac4;
  background-color: #244ac4;
}
.my-light-blue{
  color: #0083DA;
  background-color: #0083DA;
}
.my-light-blue-text{
  color: #0083DA;
}
a.my-blue:hover {
  color: #3471A4;
  background-color: #3471A4;
}
.my-dark-blue{
  color: #244ac4;
  background-color: #244ac4;
}
button.myblue:hover{
  background-color: #006BDB;
}
button.myblue:focus{
  background-color: #006BDB;
}
.myblue-text, a.myblue-text,a.myblue-text:hover, a.myblue-text:focus, a.myblue-text:visited {
  color: #244ac4;
}

/*RED*/
.myred{
  background-color: #FF4A3B;
}
.my-red{
  color: #FF4A3B;
  background-color: #FF4A3B;
}

/*GREEN*/
.my-green{
  color: #00B287;
  background-color: #00B287;
}

/*ORANGE*/
.my-orange{
  color: #FF8167;
  background-color: #FF8167;
}

/* Changing the CSS for the dash datatable*/
.Select-menu-outer {
     --accent : #0083DA;
}
.Select-arrow {
  --accent: #0083DA;
}
.Select-clear {
  --accent: #0083DA;
}
.dash-delete-cell {
  --accent : #0083DA;
}
.column-header--edit{
  --accent : #0083DA;
}
.column-header--delete{
  --accent : #0083DA;
}
.dash-spreadsheet-container table {
    --accent: #244ac4 !important;
    --selected-background: #D3EDED !important;
}

/* Changing CSS for Dash graph*/
/*.selector-rect {
  fill: #006BDB !important;
}
.selector-rect:hover, .selector-rect:focus, .selector-rect:visited, .selector-rect:active, .selector-rect:focus-within {
  fill: #244ac4 !important;
}
.selector-text {
  fill: white !important;
}*/

a, a:hover, a:visited {
  color:inherit;
}
nav .navbar-basic {
  border: 0;
}
/*Company Nav bar*/
nav ul li.active {
    background-color: rgba(36, 74, 196, 0.9) !important;
    color: white;
}
